{% extends "main.html" %}

{% block title %}
The King of Typer
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/kot.storage.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/kot.renderer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/kot.lexer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/kot.engine.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/kot.js') }}"></script>
{% endblock %}

{% block body %}
  <textarea class="kot" style="width: 1280px; height:720px;"></textarea>
{% endblock %}
