<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pixi.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lexed.js') }}"></script>
    
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}

    {% block script %}
    {% endblock %}
  </body>
</html>
