<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>
      {{ page.title }}
    </title>
    <link rel="stylesheet" href="/statics/css/style.css" />
    <script type="text/javascript" src="/statics/javascript/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/statics/javascript/pixi.js"></script>
    <script type="text/javascript" src="/statics/javascript/lexed.js"></script>

    <script type="text/javascript" src="/statics/javascript/kot.storage.js"></script>
    <script type="text/javascript" src="/statics/javascript/kot.renderer.js"></script>
    <script type="text/javascript" src="/statics/javascript/kot.lexer.js"></script>
    <script type="text/javascript" src="/statics/javascript/kot.engine.js"></script>
    <script type="text/javascript" src="/statics/javascript/kot.js"></script>
  </head>
  <body>
    <a href="https://github.com/pharmaceutical-company/The-King-of-Typer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    {{ content }}
  </body>
</html>
